div[class='col'] {
    border: 1px solid black;
    height: 40px;
    width: 40px;
}

div {
    border-collapse: collapse;
}

#messageBoard {
    border: none;
    font-weight: bolder;
    text-align: center;
    font-size: 3 em;
}
